<h1> I am  Admin </h1>
<% users = User.all %>
<h3 class="text-center">All Users</h3>

<table class="table table-hover" border=1 cellspacing=1 cellpadding=5 >
  <thead>
      <tr >
        <strong><th scope="col">Role</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <% if current_user.admin? %> 
          <th scope="col">Edit</th></strong>
          <th scope="col">Delete</th></strong>
        <% end %>
      </tr>
  </thead>
  <tbody>
      <% users.each do |user| %>
      <tr>
        <th scope="row"><%= link_to image_tag(profile(user.role))%></th>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <%= user.id %>
        <td><%= button_to "Edit", edit_user_registration_path(user), class: "btn btn-outline-secondary" %></td>
        <td><%= button_to "Delete", User.find(user.id), method: :delete, class: "btn btn-outline-danger" %></td>
      </tr>
      <% end %>
  </tbody>
</table>