<nav class="navbar navbar-expand-xl navbar- bg-light" aria-label="Seventh navbar example">
    <div class="container-fluid">
      <span class="navbar-brand navv"><%= link_to image_tag('logo.png'), root_path%></span>
      
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExampleXxl" style="">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <% if current_user.seller? %>
            <li class="nav-item">
              <span class="nav-link" aria-current="page"><%= link_to "Add Property", new_property_path %></span>
            </li>
          <% end %>
          <li class="nav-item">
            <span class="nav-link" aria-current="page"><%= link_to "All Properties", properties_path %></span>
          </li>
          <li class="nav-item">
              <span class="nav-link" aria-current="page"><%= link_to "Dashboard", dashboard_index_path %></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <span data-bs-toggle="dropdown" aria-expanded="ture">
              <% if current_user.admin? %> 
                <%= link_to image_tag('admin.png') %>
              <% elsif current_user.seller? %>
                <%= link_to image_tag('seller.png') %>
              <% elsif current_user.buyer? %>
                <%= link_to image_tag('buyer.png') %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-left">
              <ul>
                <%= link_to "Edit Profile",edit_user_registration_path, method: :get, class: "dropdown-item" %>
                <%= button_to "Sign out",destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </ul>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="index.html">Prop<span class="color-b">Ex</span></a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <% if current_user.seller? %>
            <li class="nav-item">
              <%= link_to "Add Property", new_property_path, class: "nav-link " %>
            </li>
          <% end %>

          <li class="nav-item">
            <a class="nav-link " href="about.html"><%= link_to "Add Property", new_property_path %></a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="property-grid.html">Property</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="blog-grid.html">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a style="margin-top:-20px;" class="nav-link " id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.admin? %> 
                <%= link_to image_tag('admin.png') %>
              <% elsif current_user.seller? %>
                <%= link_to image_tag('seller.png') %>
              <% elsif current_user.buyer? %>
                <%= link_to image_tag('buyer.png') %>
              <% end %></a>
            <div class="dropdown-menu">
              <%= link_to "Dashboard", dashboard_index_path, class: "dropdown-item" %>
              <%= link_to "Edit Profile",edit_user_registration_path, method: :get, class: "dropdown-item" %>
              <%= button_to "Sign out",destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </nav><!-- End Header/Navbar -->
