<div class="frm"><%= form_with(model: property) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
    <p style="color: red; margin-top:-20px;"><%= show_errors(@property, :name) %></p>
    </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
    <p style="color: red; margin-top:-20px;" ><%= show_errors(@property, :address) %></p>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
    <p style="color: red; margin-top:-20px;" ><%= show_errors(@property, :city) %></p>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price %>
    <p style="color: red; margin-top:-20px;" ><%= show_errors(@property, :price) %></p>
  </div>
  
  <div>
  <% p current_user.id %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div>
    <%= form.label :Images %><br>
    <%= form.file_field :images, multiple: true %><br><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>