<div class="col-md justify-content" style="float:left;">
<div class="card-box-a card-shadow" style="border-radius:25px 10px; width:95%; height: 500px !important;">
  <div class="img-box-a overflow-hidden">
    <% if property.images.attached? %>
      <%= link_to image_tag(property.images[0], :height=> 500,:width=>600, :crop=>"crop"), class: "img-a img-fluid overflow-hidden " %>
    <% else %>
      <%= link_to image_tag('sorry2.jpg'), class: "img-a img-fluid" %>
    <% end %>
    <%#= link_to image_tag('Propes/b3.png'), class: "img-a img-fluid" %>
    <%# <img src="assets/img/property-2.jpg" alt="" class="img-a img-fluid"> %>
  </div>
  <div class="card-overlay">
    <div class="card-overlay-a-content">
      <div class="card-header-a">
        <h2 class="card-title-a">
          <a href="#"><%= property.name %></a>
        </h2>
      </div>
      <div class="card-body-a">
        <div class="price-box d-flex">
          <span class="price-a"><%= number_to_currency(property.price, :unit=>'₹') %></span>
        </div>
          <%= link_to "Show this property", property, class: "link-a" %>
      </div>
      <div class="card-footer-a" >
        <ul class="card-info d-flex justify-content-center">
          <li>
            <h4 class="card-info-title text-center">City</h4>
            <span><%= property.city %>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
