<div id="<%= dom_id property %>">
  <div class="container">
    <div class="imgg" >
      <p style="float:left;">
        <% if property.images.attached? %>
              <% property.images.each do |prp|%>
              <%= image_tag prp, height: "100px" %><br>
              <% end %>
        <% end %>
      </p>
    </div>
    <div class="details">
      <p>
        <strong><%= property.name %></strong>
      </p>

      <p>
        <strong>Description:</strong>
        <%= property.description %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= property.address %>
      </p>

      <p>
        <strong>City:</strong>
        <%= property.city %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= number_to_currency(property.price, :unit=>'₹') %>
      </p>

      <p>
        <% if property.is_paid == true%>
          <b style="color: red;">SOLD OUT</b>
        <% end %>
      </p>
    </div>
  </div>
</div>
