<span class="input-group rounded" style="float:left; margin-left:auto; margin:right: auto;" >
  <%= form_tag(search_path, :method => "get") do %>
    <span><%= text_field_tag :search, params[:search], class: "form-control rounded", placeholder: "Search..." %></span>
  <% end %>
</span>
<h1>Properties</h1>

<div id="properties">
  <% @properties.each do |property| %>
    <%= render property %>
    <p>
      <%= link_to "Show this property", property %>
    </p>
  <% end %>
</div>
<div class="pagination"><div class="page" style="text-align:center;"><%= will_paginate @properties, previous_label: "&laquo;", next_label: "&raquo;"  %></div></div>
