<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container" style="margin-top:-170px">
        <div class="row ">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Our Amazing Properties</h1>
              <span class="color-text-a"></span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties Grid
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

<div class="input-group  rounded justify-content-center">
  <%= form_tag(search_path, :method => "get") do %>
    <span><%= text_field_tag :search, params[:search], class: "search form-control rounded", border_radius: "50px",placeholder: "Search..." ,style: "border: solid 1px #5dd95d;"%></span>
  <% end %>
</div>
    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 justify-content-between">
          <% @properties.each do |property| %>
            <%= render property %>
          <% end %>
        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main>

<div class="pagination justify-content-center"><div class="page"><%= will_paginate @properties, previous_label: "&laquo;", next_label: "&raquo;"  %></div></div>

<%# ---- Footer ---- %>
<section class="section-footer">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">PropEx</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat duis
              sed aute irure.
            </p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone .</span> +91 12345 67890
              </li>
              <li class="color-a">
                <span class="color-text-a">Email .</span> <%= mail_to "contact@propex.com", "contact@propex.com" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>