<span class="input-group rounded justify-content-center">
  <%= form_tag(search_path, :method => "get") do %>
    <span><%= text_field_tag :search, params[:search], class: "form-control rounded", placeholder: "Search..." %></span>
  <% end %>
</span>
<h1 class="text-center">Properties</h1>
<section class="property-grid grid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <% @results.each do |prop| %>
            <div class="col-md-4 justify-content" style="float:left;">
              <div class="card-box-a card-shadow" style=" width:100%; height: 500px !important;">
                <div class="img-box-a overflow-hidden">
                  <% if prop.images.attached? %>
                    <%= link_to image_tag(prop.images[0]), class: "img-a img-fluid overflow-hidden " %>
                  <% else %>
                    <%= link_to image_tag('sorry2.jpg'), class: "img-a img-fluid" %>
                  <% end %>
                  <%#= link_to image_tag('Propes/b3.png'), class: "img-a img-fluid" %>
                  <%# <img src="assets/img/prop-2.jpg" alt="" class="img-a img-fluid"> %>
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="#"><%= prop.name %></a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a"><%= number_to_currency(prop.price, :unit=>'₹') %></span>
                      </div>
                        <%= link_to "Show this Property", prop, class: "link-a" %>
                    </div>
                    <div class="card-footer-a" >
                      <ul class="card-info d-flex justify-content-center">
                        <li>
                          <h4 class="card-info-title text-center">City</h4>
                          <span><%= prop.city %>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</section>

  <!-- ======= Footer ======= -->
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">PropEx</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              Enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat duis
              sed aute irure.
            </p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone .</span> +91 12345 67890
              </li>
              <li class="color-a">
                <span class="color-text-a">Email .</span> contact@propex.com
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">The Company</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="#">Site Map</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="#">Legal</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="#">Agent Admin</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="#">Careers</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="#">Affiliate</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> <a href="#">Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">International sites</h3>
          </div>
          <div class="w-body-a">
            <ul class="list-unstyled">
              <li class="item-list-a">
                <i class="bi bi-chevron-right"></i> <a href="#">Venezuela</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-right"></i> <a href="#">China</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-right"></i> <a href="#">Hong Kong</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-right"></i> <a href="#">Argentina</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-right"></i> <a href="#">Singapore</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-right"></i> <a href="#">Philippines</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>