<span class="search">
  <%= form_tag(search_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search]%>
    <%= button_tag "Search",:name => nil %>
  <% end %>
</span>
<h1>Properties</h1>
    <% @results.each do |prop| %>
      <p>
        <strong>Name:</strong>
        <%= prop.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= prop.description %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= prop.address %>
      </p>

      <p>
        <strong>City:</strong>
        <%= prop.city %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= prop.price %>
      </p>
    <% end %>