<h1>Student reports</h1>
    <% @results.each do |prop| %>
      <p>
        <strong>Name:</strong>
        <%= prop.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= prop.description %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= prop.address %>
      </p>

      <p>
        <strong>City:</strong>
        <%= prop.city %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= prop.price %>
      </p>
    <% end %>