<%= render @property %>

<div>
  <% if current_user.id == @property.user_id %>
    <%= link_to "Edit this property", edit_property_path(@property) %> |
    <%= button_to "Destroy this property", @property, method: :delete %>|
  <% end %>
    <%= button_to "Buy Now", checkout_create_path, params: {id: @property.id}, remote: true %>
  <%= link_to "Back to properties", properties_path %>
</div>
